.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
  width: 1200px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  width: 273px;
  height: 273px;
  background-color: #ffffff;
}

.productImage {
  margin-bottom: 10px;
  width: 223px;
  height: 223px;
}

.checkbox {
  align-self: flex-end;
  appearance: none;
  margin: 10px 10px 0px 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background-image: url("../images/icon/favorite.svg");
  background-size: contain;
  background-repeat: no-repeat, repeat;
  background-position: center;
  position: relative;
}

.checkbox:hover {
  border: none;
  background-size: contain;
  background-image: url("../images/icon/favoriteHover.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
}

.checkbox:checked {
  border: none;
  background-size: contain;
  background-image: url("../images/icon/favoriteHover.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
}
