.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 273px;
  height: 417px;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.miniCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  width: 273px;
  height: 273px;
  background-color: #ffffff;
}

.miniCardImage {
  margin-bottom: 10px;
  width: 223px;
  height: 223px;
}

.checkbox {
  align-self: flex-end;
  appearance: none;
  margin: 10px 10px 0px 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background-image: url("../images/icon/favorite.svg");
  background-size: contain;
  background-repeat: no-repeat, repeat;
  background-position: center;
  position: relative;
}

.checkbox:hover {
  border: none;
  background-size: contain;
  background-image: url("../images/icon/favoriteHover.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
}

.checkbox:checked {
  border: none;
  background-size: contain;
  background-image: url("../images/icon/favoriteHover.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
}

.cardImage {
  width: 223px;
  height: 223px;
}

.cardTitle,
.cardDiscription {
  margin: 0px;
}

.cardTitle {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 223px;
  text-align: left;
}

.cardDiscription {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 223px;
  text-align: left;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 30px;
  width: 223px;
  height: 56px;
  background-color: #000000;
  background-image: url("../images/icon/dollar-symbol1.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: left 5px top 13px;
}

.cardPrice {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: left;
}

.cardButton {
  appearance: none;
  margin: 0px;
  padding: 0px;
  width: 80px;
  height: 25px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}
